section#research
  .container
    h1 RESEARCH
    .row
      each interest, index in research
        .col-lg-3.col-md-4.mb-4
          .card
            img.card-img(src=interest.img, alt=interest.title)
            .card-body.d-flex.flex-column
              h5=interest.titleShort
              p=interest.descriptionShort
              .mt-auto
                a(href='#', data-toggle='modal', data-target=`#research-${index}-modal`) Read more
        .modal(
          tabindex='-1',
          role='dialog',
          aria-labelledby=`#research-${index}-modal-title`
          aria-hidden='true',
          id=`research-${index}-modal`)
          .modal-dialog.modal-lg.modal-dialog-centered(role='document')
            .modal-content
              .modal-header
                h5.modal-title(id=`research-${index}-modal-title`)=interest.title
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                .text-center.pb-4
                  img(src=interest.img) 
                p=interest.description
              .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
