mixin member(photo, name, github, description, imgPosition)
    - var positions = {first: 'margin-left: auto;', last: 'margin-right:auto;'};
    - var memberStyle = imgPosition ? positions[imgPosition] : '';
    div(class='col-sm-3', style=memberStyle)
        .team-member
          img.mx-auto.rounded-circle(src=photo, alt=name+' headshot')
          h4= name
          p.text-muted
            div= description
            div
              a(
                href='https://github.com/' + github,
                data-toggle='tooltip',
                data-placement='top',
                title='',
                class='githubLink fa fa-github',
                data-original-title='@' + github,
              )

section#team.bg-light
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading.text-uppercase Our Amazing Team
        h3.section-subheading.text-muted Wow wow wow r we neato.
    .row
      +member('img/team/chrisCrawford.jpg', 'Chris', '', 'the leader')
      +member('img/team/nickCioli.jpg', 'Nick', '', 'is neat')
      +member('img/team/amandaHolloman.png', 'Amanda', '', 'is super')
      +member('img/team/jayLittle.jpg', 'Jay', '', 'is swell')
    .row
      +member('img/team/pierceStegman.jpg', 'Pierce', 'pwstegman', 'is cool', 'first')
      +member('img/team/william.jpg', 'William', '', 'is dandy')
      +member('img/team/ajay.jpeg', 'Ajay', '', 'is nifty', 'last')