mixin member(photo, name, github, description, imgPosition)
    - var positions = {first: 'margin-left: auto;', last: 'margin-right:auto;'};
    - var memberStyle = imgPosition ? positions[imgPosition] : '';
    div(class='col-sm-3', style=memberStyle)
        .team-member
          img.headshot.mx-auto.rounded-circle(src=photo, alt=name+' headshot')
          h4= name
          p.text-muted
            div= description
            div
              a(
                href='https://github.com/' + github,
                data-toggle='tooltip',
                data-placement='top',
                title='',
                class='githubLink fa fa-github',
                data-original-title='@' + github,
              )

section#team
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading.text-uppercase The Team
        h3.section-subheading.text-muted <!-- removed subheading -->
    each person, index in team
      - var imgPosition = undefined;
      if index % 4 == 0
        - imgPosition = 'first'
      if (index + 1) % 4 == 0 || index == team.length - 1
        - imgPosition = 'last'
      if imgPosition == 'first'
        <div class='row'>
      +member(person.photo, person.name, person.github, person.description, imgPosition)
      if imgPosition == 'last'
        </div>